{% load betty humanize ads static content %}

{% if videos.0 %}
  <bulbs-video-carousel class="video-carousel homepage-player">
    <div class="homepage-player-nav">
      {% block homepage_player_nav %}
        <div class="homepage-player-branding"></div>
        <div>VIDEO</div>
      {% endblock homepage_player_nav %}
    </div>

    <div class="video-carousel-player">
      <bulbs-video
        no-endcard
        src="{{ VIDEOHUB_BASE_URL }}/video/{{ videos.0.videohub_ref.id }}.json"
      >
      </bulbs-video>
    </div>

    <div class="video-carousel-meta">
      <bulbs-video-meta
        src="{{ VIDEOHUB_BASE_URL }}/video/{{ videos.0.videohub_ref.id }}.json"
      >
      </bulbs-video-meta>
    </div>

    <hr class="video-carousel-divider"/>

    <bulbs-carousel class="video-carousel-carousel">
      <header class="video-carousel-header">
        <span class="video-carousel-header-title">
          Up Next
        </span>

        <bulbs-carousel-previous class="video-carousel-previous"></bulbs-carousel-previous>
        <bulbs-carousel-next class="video-carousel-next"></bulbs-carousel-next>
      </header>

      <bulbs-carousel-slider>
        {% for video in videos %}
          <bulbs-carousel-item>
            <bulbs-video-summary
              class="video-carousel-summary"
              src="{{ VIDEOHUB_BASE_URL }}/video/{{ video.videohub_ref.id }}.json"
            >
            </bulbs-vido-summary>
          </bulbs-carousel-item>
        {% endfor %}
      </bulbs-carousel-slider>
    </bulbs-carousel>
  </bulbs-video-carousel>
{% endif %}
