///////////////////////////////
// ************************* //
//       GLOBAL COLORS       //
// ************************* //
///////////////////////////////


// Global Share Colors

$color-mail: #849EBC;
$color-facebook: #3b5998;
$color-twitter: #4099FF;
$color-comments: #60c884;

// Primary Site Colors

$avc-blue: #1D263B;