///////////////////////////////
// ************************* //
//       GLOBAL COLORS       //
// ************************* //
///////////////////////////////


// Global Share Colors

$email-grey: rgb(149, 169, 162);
$facebook-blue: rgb(55, 87, 162);
$twitter-blue: rgb(45, 159, 216);
$comments-orange: #60c884;

// Primary Site Colors

$avc-blue: #1D263B;