{% extends "bart/detail/__base.html" %}
{% block bodyclass %}article-detail{% endblock bodyclass %}
{% block meta_description%}{{ article.description|striptags }}{% endblock meta_description %}
{% block site_title %}{{ article.title|striptags }} {{ block.super }}{% endblock site_title %}

{% block content %}
<article>

	{% block image_feature %}
	{# include "bart/elements/snippets/image-container.html" #}
	<figure class="image article-image" id="8227">
		<img src="http://media.avclub.com/images/431/431279/16x9/1200.jpg?8227" alt="Daft Punk, 2013" />
		<figcaption class="visuallyhidden">Daft Punk</figcaption>
	</figure>
	{% endblock image_feature %}
		
	<div class="article-body">

		{% block article_header %}
		<header class="article-header article-width">

			{% block type_badge %}
			{% if article.feature_type %}
		    <div class="type-badge">
		    	<a class="article-type" href="#">{{ article.feature_type|safe }}</a>
		    </div>
		    {% endif %}
		    {% endblock type_badge %}

		    {% block headline %}
		    <h1 class="headline lg-headline">{{ article.title|safe }}</h1>
		    {% endblock headline %}

		    {% block subheadline %}
		    {% if article.subhead %}
		    <h2 class="subheadline">{{ article.subhead|safe }}</h2>
		    {% endif %}
		    {% endblock subheadline %}
		    
		    {% block teaser %}
		    {% if article.teaser %}
		    <p class="teaser visuallyhidden">{{ article.teaser|safe|removetags:"p" }}</p>
		    {% endif %}
		    {% endblock teaser %}

		</header>
		{% endblock article_header %}

		{% block article_meta %}
		<section class="article-meta meta article-width">

			{% block author %}
			{% if article.authors.all %}
			<div class="authors">By 
			{% for author in article.authors.all %}
				{% if forloop.last and not forloop.first %}, and{% endif %}
				<a class="author" href="#">{{ author.first_name }} {{ author.last_name }}</a>
				{% if not forloop.last and not forloop.first %}, {% endif %}
			{% endfor %}
			</div>
			{% endif %}
			{% endblock author %}

			{% block pubdate %}
			<div class="pub"><a href="#">{{ article.published }}</a></div>
			{% endblock pubdate %}

			{% block community %}
			<ul class="community unstyled">
				<li class="comments">
					<i class="icon icon-comments"></i>
					<a href="#comments"><span class="count">145</span> Comments</a></li>
				<li class="share-article">
					<i class="icon icon-edit"></i>
					<a href="#"><span class="count">1,548</span> Share Article</a></li>
			</ul>
			{% endblock community %}

		</section>
		{% endblock article_meta %}

		{% block article_main %}
		<section class="article-text article-width">

			{% block article_tags %}
			{% if article.tags.count > 1 %}
			<div class="aside pull-left article-tags" id="article-tags">
				<ul class="unstyled">
                    {% for tag in article.tags.all %}
                    <li {% if forloop.first %} class="hidden"{% endif %}>
                    	<a title="{{ tag.name }}" href="#">{{ tag.name }}</a></li> {# Hiding the first tag. #}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
			{% endblock article_tags %}

			{% block article_body %}
				
				{% block article_ad %}
				<div class="advertisement right-outdent"><a href="#"><img src="http://placehold.it/300x250"></a></div>
				{% endblock article_ad %}

				{% block vid_embed %}
				{% comment %}
				<div class="video-embed pull-left left-outdent">
					<h2 class="section-title">Daft Punk "Get Lucky"</h2>
					<iframe width="320" height="180" src="//www.youtube.com/embed/5NV6Rdv1a3I" frameborder="0" allowfullscreen></iframe>
				</div>
				{% endcomment %}
				{% endblock vid_embed %}

				{{ article.body | safe }}

			{% endblock article_body %}
		</section>
		{% endblock article_main %}

		{% block article_footer %}
		<footer class="article-footer article-width">

			{% block article_moretype %}
			<section class="supplemental more-type article-pagination">
				<h2 class="section-title visuallyhidden">More Newswire</h2>
				<nav>
					<ul class="pagination unstyled">
				        <li class="previous">
				            <a href="/articles/arnold-schwarzenegger-also-has-a-cable-drama-about,98365/" title="Arnold Schwarzenegger also has a cable drama about bodybuilding in the works"><i class="icon icon-angle-left"></i> Arnold Schwarzenegger also has a cable drama about bodybuilding in the works</a>
						</li>
				        <li class="next">
				            <a href="/articles/two-and-a-half-men-replaces-halfman-with-notman,98366/" title="&lt;em&gt;Two And A Half Men&lt;/em&gt;&nbsp;replaces half-man with not-man"><em>Two And A Half Men</em>&nbsp;replaces half-man with not-man <i class="icon icon-angle-right"></i></a>
				        </li>
				    </ul>
				</nav>
			</section>
			{% endblock article_moretype %}

			{% block article_share %}
			<section class="supplemental share-tools">
				<h2 class="section-title">Spread the Word</h2>
				<ul class="unstyled">
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-google-plus"></i></a></li>
					<li><a href="#"><i class="icon-plane"></i></a></li>
					<li><a href="#"><i class="icon-refresh"></i></a></li>
				</ul>
			</section>
			{% endblock article_share %}

			{% block read_next %}
			<section class="supplemental read-this-next">
				<h2 class="section-title">Read this next</h2>
				{# include "elements/snippets/article-summary.html" #}

				<article id="4498724">
					<header>
						<h1 class="headline md-headline">
							<a href="{{ article.get_absolute_url }}" title="{{ article.title }}">
								Listen to Daft Punk's <em>Random Access Memories</em> online in its entirety now
							</a>
						</h1>					
						<div class="article-meta">
							<span class="authors">
								By <a href="#">Marah Eakin</a>
							</span>	
						</div>
					</header>
					<div class="article-teaser">
						<p>Stop working and grab those headphones: Daft Punk’s new record, Random Access Memories, is now streaming in its entirety on iTunes. The record won’t be out until next Tuesday, May 21, but all 13 tracks, including the ones featuring Nile Rodgers... <a class="read-more" href="#">Read More</a></p>
					</div>
				</article>

			</section>
			{% endblock read_next %}

			{% block article_recirc %}
			<section class="supplemental recirc">

		        {% block outbrain %}
			    <div id="outbrain">
			        <script type="text/JavaScript">
			            var OB_permalink= 'http://www.avclub.com{{ article.get_absolute_url }}';
			            var OB_Template="avclub";
			            var OB_widgetId= 'AR_1';
			            var OB_langJS ='http://widgets.outbrain.com/lang_en.js';
			            if ( typeof(OB_Script)!='undefined' )
			            	OutbrainStart();
			            else
			            {	var OB_Script = true;
				            var str = "<script src='http://widgets.outbrain.com/outbrainWidget.js'; type='text/javascript'></"+"script>";
				            document.write(str); }
			        </script>
			    </div>
			    {% endblock outbrain %}
			</section>
			{% endblock article_recirc %}

			{% block comments %}
			<section id="comments"></section>
			{% endblock comments %}
		</footer>
		{% endblock article_footer %}

	</div>

</article>

{% endblock content %}