{% extends "bart/detail/__base.html" %}
{% block bodyclass %}article-detail{% endblock bodyclass %}
{% block meta_description%}{{ article.description|striptags }}{% endblock meta_description %}
{% block site_title %}{{ article.title|striptags }} {{ block.super }}{% endblock site_title %}

{% block content %}
<article>


	{% block image_feature %}
	{% include "bart/elements/snippets/image-container.html" %}
	{% endblock image_feature %}
		

	<div class="article-body">


		{% block article_header %}
		<header class="article-header article-width">


			{% block type_badge %}
			{% if article.feature_type %}
		    <div class="type-badge tag tv-club {{ article.feature_type|slugify }}">
		    	<a class="article-type" href="#">{{ article.feature_type|safe }}</a>
		    </div>
		    {% endif %}
		    {% endblock type_badge %}


		    {% block headline %}
		    <h1 class="headline lg-headline">{{ article.title|safe }}</h1>
		    {% endblock headline %}


		    {% block subheadline %}
		    {% if article.subhead %}
		    <h2 class="subheadline">{{ article.subhead|safe }}</h2>
		    {% endif %}
		    {% endblock subheadline %}
		    

		    {% block teaser %}
		    {% if article.teaser %}
		    <p class="teaser visuallyhidden">{{ article.teaser|safe|removetags:"p" }}</p>
		    {% endif %}
		    {% endblock teaser %}


		</header>
		{% endblock article_header %}


		{% block article_meta %}
		<section class="article-meta meta article-width">

			{% block author %}
			{% include "bart/elements/snippets/article-authors.html" %}
			{% endblock author %}


			{% block published %}
			{% include "bart/elements/snippets/article-published.html" %}
			{% endblock published %}


			{% block community %}
			<ul class="community unstyled">
				<li class="comments">
					<a href="#comments"><i class="icon icon-comments"></i> 1.5k</a></li>
				<li class="share-article">
					<a href="#"><i class="icon icon-mail-forward"></i> 5.8k</a></li>
			</ul>
			{% endblock community %}


		</section>
		{% endblock article_meta %}


		{% block article_main %}
		<section class="article-text article-width">


			{% block article_tags %}

			{% comment %}
			{% if article.tags or article.related_topics %}
			<div class="aside pull-left article-tags" id="article-tags">

				{% if article.tags %}
				<ul class="unstyled tags">
                    {% for tag in article.tags.all %}
                    <li class="{{ tag.name|slugify }}">
                    	<a 	title="{{ tag.name|safe }}" 
                    		href="{{ tag.get_absolute_url }}">
                    		{{ tag.name|safe }}</a></li> 
                    {% endfor %}
                </ul>
	            {% endif %}
                
                {% if article.related_topics %}
                <h3>Related Topics</h3>
				<ul class="unstyled">
					{% for topic in article.related_topics %}
						<li><a title="{{ topic.title|safe }}" href="{{ topic.get_absolute_url }}">
						{{ topic.title|safe }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}

            </div>
            {% endif %}
            {% endcomment %}

            <!-- Junk markup to be removed with addition of live data -->
            <div class="aside pull-left article-tags" id="article-tags">
            	<ul class="unstyled tags">
            		<li class="tv-club"><a title="Tagname" href="#">TV Club</a></li>
            		<li class="books"><a title="Tagname" href="#">Books</a></li>
        		</ul>

        		<h3>Related Topics</h3>
				<ul class="unstyled">
            		<li><a title="Tagname" href="#">Game of Thrones</a></li>
            		<li><a title="Tagname" href="#">George R.R. Martin</a></li>
            		<li><a title="Tagname" href="#">HBO</a></li>
        		</ul>        		
    		</div>
    		<!-- end junk -->

			{% endblock article_tags %}


			{% block article_body %}
				
				{% block article_ad %}
				<div class="advertisement right-outdent">
					<a href="#"><img src="http://placekitten.com/300/600"></a>
				</div>
				{% endblock article_ad %}


				{% block vid_embed %}
				{% comment %}
				<div class="video-embed pull-left left-outdent">
					<h2 class="section-title">Daft Punk "Get Lucky"</h2>
					<iframe width="320" height="180" src="//www.youtube.com/embed/5NV6Rdv1a3I" frameborder="0" allowfullscreen></iframe>
				</div>
				{% endcomment %}
				{% endblock vid_embed %}


				{{ article.body | safe }}


			{% endblock article_body %}


		</section>
		{% endblock article_main %}


		{% block article_footer %}
		<footer class="article-footer article-width">


			{% block article_moretype %}
			<nav class="supplemental more-type article-pagination">
				<h2 class="section-title visuallyhidden">More {{ article.feature_type }}</h2>
				<ul class="pagination unstyled">
			        <li class="previous">
				        

				        {% if article.prev_article %}
			        	{% with article.previous_article as prev %}
			            	<a href="{{ prev.get_absolute_url }}" title="{{ prev.title|safe }}">
			            		<i class="icon icon-angle-left"></i> 
			            		<span>Older</span><br />
			            		{{ prev.title|safe }}
		            		</a>
			            {% endwith %}
			            {% else %} <!-- Delete when these are live -->
			            	<a href="#">
			            		<i class="icon icon-angle-left"></i> 
			            		<span>Older</span><br />
			            		Sample Article Title Goes Here</a>
			            {% endif %}


					</li>
			        <li class="next">


				        {% if article.next_article %}
				        {% with article.next_article as next %}
			            	<a href="{{ next.get_absolute_url }}" title="{{ next.title|safe }}">
				            	<span>Newer</span><br />
			            		{{ next.title|safe }} 
			            		<i class="icon icon-angle-right"></i>
		            		</a>
			            {% endwith %}
			            {% else %} <!-- Delete when these are live -->
				            <a href="#">
					            <span>Newer</span><br />
			            		Sample Article Title Goes Here 
			            		<i class="icon icon-angle-right"></i></a>
			            {% endif %}


			        </li>
			    </ul>
			</nav>
			{% endblock article_moretype %}


			{% block article_share %}
			<section class="supplemental share-tools">
				<h2 class="section-title">Enjoy this article? Share!</h2>
				<ul class="unstyled">
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-google-plus"></i></a></li>
					<li><a href="#"><i class="icon-plane"></i></a></li>
					<li><a href="#"><i class="icon-refresh"></i></a></li>
				</ul>
			</section>
			{% endblock article_share %}


			{% block read_next %}
			<section class="supplemental suggested-read">
				<h2 class="section-title">Suggested Read</h2>

				{% comment %}
				{% for article in suggested_reads %}
				<article id="{{ article.id }}"{% if forloop.first %} class="featured"{% endif %}>
					
					{% if forloop.first %}
						{% include "bart/elements/snippets/image-container.html" %}
					{% endif %}

					<header>
						<h1 class="headline md-headline">
							{% include "bart/elements/snippets/article-title.html" %}
						</h1>					
						<div class="article-meta">
							{% include "bart/elements/snippets/article-authors.html" %}
						</div>
					</header>

					{% include "bart/elements/snippets/article-teaser.html" %}

				</article>
				{% endfor %}
				{% endcomment %}

				<!-- MOCKUP DATA! This can be removed when we hook up live data. -->
				<article id="xxx" class="featured">
					<figure>
						<div 	data-picture 
								class="image article-image one-by-one" 
								id="xxx" 
								data-image-id="2" >
						    <div>
						        <noscript>
						            <img src="http://placekitten.com/300/300" alt="Image Title">
						        </noscript>
						    </div>
						</div>
					</figure>
					<header>
						<h1 class="headline md-headline">
							<a href="#">Listen to Daft Punk's <em>Random Access Memories</em> online
							in its entirety now</a>
						</h1>					
						<div class="article-meta">
							<div class="authors">
								By <a class="author" href="#">Marah Eakin</a>
							</div>
						</div>
					</header>
					<div class="article-teaser">
						Stop working and grab those headphones: Daft Punk’s new record, Random Access Memories, is now streaming in its entirety on iTunes ... <a class="read-more" href="#">Read More</a></p>
					</div>
				</article>

				<article id="xxx2">
					<header>
						<h1 class="headline md-headline">
							<a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
						</h1>					
						<div class="article-meta">
							<div class="authors">
								By <a class="author" href="#">Marah Eakin</a>
							</div>
						</div>
					</header>
					<div class="article-teaser">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ... <a class="read-more" href="#">Read More</a></p>
					</div>
				</article>

				<article id="xxx2">
					<header>
						<h1 class="headline md-headline">
							<a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
						</h1>					
						<div class="article-meta">
							<div class="authors">
								By <a class="author" href="#">Marah Eakin</a>
							</div>
						</div>
					</header>
					<div class="article-teaser">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ... <a class="read-more" href="#">Read More</a></p>
					</div>
				</article>

			</section>
			{% endblock read_next %}


			{% block article_recirc %}
			<section class="supplemental recirc">
		        {% block outbrain %}
				{% include "bart/elements/snippets/outbrain.html" %}
			    {% endblock outbrain %}
			</section>
			{% endblock article_recirc %}


			{% block comments %}
			<section id="comments"></section>
			{% endblock comments %}


		</footer>
		{% endblock article_footer %}

	</div>

</article>

{% endblock content %}

{% block extra_head %}
<script>var IMAGE_URL = "http://placekitten.com/1200/800"</script>
{% endblock extra_head %}