*.py[cod]
.DS_Store
bin
include
lib
src
share
.Python
*.db
.coverage
*~
dist
django_bulbs.egg-info
.vagrant
docs/_build/
coverage_html_report
reports
.idea/
*.sublime-project
.venv/
venv/
.cache/
.sass-cache/
.map
scripts/.state
node_modules
I*.sw[nop]
