{% load betty humanize ads static content %}

  <div class="sc-hero">
    <figure class="hero-img">
      {% cropped special_coverage.image %}
    </figure>
    <div class="sc-label">Special Coverage</div>
    <div class="billboard">
      <h1>{{ special_coverage.name }}</h1>
      {% if special_coverage.description %}
        <p>{{ special_coverage.description }}</p>
      {% endif %}
      {% if special_coverage.tunic_campaign_id %}
        {% comment %}
          TODO bulbs-elements dependency should be explicitly set by this repo.
          At this point, we are pushing this responsibility downstream.
        {% endcomment %}
        <campaign-display
          class="sc-hero-campaign"
          data-track-action="Feature: Sponsor"
          data-track-category="Special Coverage Landing"
          placement="detail"
          preamble-text="Presented by"
          src="{% content_tunic_campaign_url special_coverage.tunic_campaign_id %}"
          logo-only
        >
        </campaign-display>
      {% endif %}
    </div>
  </div>

{% if video %}
  <bulbs-video-carousel class="video-carousel sc-carousel">
    <div class='video-carousel-player sc-video-player'>
      <bulbs-video
        src='{{ VIDEOHUB_BASE_URL }}/video/{{video.videohub_ref_id}}.json'
        data-play-track-action="Video: Main: Play"
        data-play-track-category="Special Coverage Landing"
        data-play-track-label="#"
        target-host-channel="specialcoverage_main"
        target-special-coverage="{{ special_coverage.slug }}"
        target-campaign-id="{{ special_coverage.tunic_campaign_id }}"
        autoplay
        no-endcard
      >
      </bulbs-video>
      <div class="video-carousel-meta sc-carousel-meta">
        {% if special_coverage.tunic_campaign_id %}
          <campaign-display
            class="campaign-display-preamble"
            data-track-action="Video: Main: Sponsor"
            data-track-category="Special Coverage Landing"
            placement="detail"
            preamble-text="Presented by"
            src="{% content_tunic_campaign_url special_coverage.tunic_campaign_id %}"
            name-only
          >
          </campaign-display>
        {% endif %}
        <bulbs-video-meta
          src='{{ VIDEOHUB_BASE_URL }}/video/{{video.videohub_ref_id}}.json'
          data-track-category="Special Coverage Landing"
        >
        </bulbs-video-meta>
        <share-tools
            class="video-carousel-share-tools"
            share-url={% build_video_share_uri video.videohub_ref_id %}
            share-track-action="Video: Main: Share"
            share-title="{{video.title}}">
          <div class="video-carousel-share-tools">
            <share-via-facebook label icon></share-via-facebook>
            <share-via-twitter label icon twitter-handle={{twitter_handle}}></share-via-twitter>
            <share-via-email label icon message={{share_message}}></share-via-twitter>
          </div>
        </share-tools>
      </div>
    </div>
  {% endif %}

  {% if special_coverage.videos.1 %}
    <div class='bulbs-carousel-divider sc-divider'>
      <hr>
    </div>

    <bulbs-carousel class='video-carousel-carousel sc-video-carousel'>
      <div class='video-carousel-header'>
        <span class='video-carousel-header-title'>
          UP NEXT
        </span>
        {% if special_coverage.tunic_campaign_id %}
          <campaign-display
            class="campaign-display-preamble"
            data-track-action="Video: Recirc: Sponsor"
            data-track-category="Special Coverage Landing"
            placement="detail"
            preamble-text="Presented by"
            src="{% content_tunic_campaign_url special_coverage.tunic_campaign_id %}"
            name-only
          >
          </campaign-display>
        {% endif %}
        <bulbs-carousel-previous class="video-carousel-previous"></bulbs-carousel-previous>
        <bulbs-carousel-next class="video-carousel-next"></bulbs-carousel-next>
      </div>

      <bulbs-carousel-slider>
        {% for video_id in special_coverage.videos %}
          <bulbs-carousel-item
            data-track-category="Special Coverage Landing"
            data-track-action="Video: Recirc: {{forloop.counter}}"
            data-track-label='{% url 'special-video' slug=special_coverage.slug video_id=video_id %}'
            href='{% url 'special-video' slug=special_coverage.slug video_id=video_id %}'
            {% if video_id == video.videohub_ref_id %}
              now-playing
            {% endif %}
          >
            <bulbs-video-summary
              class="video-carousel-summary"
              src='{{ VIDEOHUB_BASE_URL }}/video/{{video_id}}.json'
              {% if video_id == video.videohub_ref_id %}
                now-playing
              {% endif %}
            >
            </bulbs-video-summary>
          </bulbs-carousel-item>
        {% endfor %}
      </bulbs-carousel-slider>
    </div>
  </bulbs-video-carousel>
{% endif %}

<ul class="sc-grid two-up">
  {% for content in content_list  %}
    <li class="sc-item {% if forloop.counter|divisibleby:"5" %}large{% endif %}">
      <a
        data-track-category="Special Coverage Landing"
        data-track-action="Article: {% if forloop.counter|divisibleby:"5" %}Large{% else %}Small{% endif %}"
        data-track-label="{{ content.get_absolute_url }}"
        href="{{ content.get_absolute_url }}"
      >
        <figure class="thumb">
          {% cropped content.thumbnail %}
        </figure>
        <div class="meta">
          <span class="feature-type">{{ content.feature_type }}</span>
          <h2>{{ content.title }}</h2>
          <span class="pub">{{ content.published|naturalday|capfirst }}</span>
        </div>
      </a>
    </li>
    {% if forloop.counter == 4 %}
      {% dfp_ad "sidebar-primary" %}
    {% endif %}
  {% endfor %}
</ul>
