<div class="sc-hero">
  <figure class="thumb">
    {% cropped content.thumbnail %}
  </figure>
  <div class="sc-label">Special Coverage</div>
  <div class="billboard">
    <h1>{{ special_coverage.name }}</h1>
    <p>{{ special_coverage.description }}</p>
    <div class="presented-by">
      {% if special_coverage.campaign.sponsor_logo %}
        <span class="sponsor-name">Presented by</span>
        {% if special_coverage.campaign.sponsor_url %}
          <a href="{{ special_coverage.campaign.sponsor_url }}"
             data-track-category="{{ tracking_category }}"
             data-track-action="Sponsor Logo" 
             data-track-label="{{ special_coverage.campaign.sponsor_url }}">
            <figure class="thumb">
              <img src="{% cropped_url special_coverage.campaign.sponsor_logo ratio="original" format="png" %}" alt="{{ special_coverage.campaign.sponsor_name }}" />
            </figure>
          </a>
        {% else %}
          <figure class="thumb">
            <img src="{% cropped_url special_coverage.campaign.sponsor_logo ratio="original" format="png" %}" alt="{{ special_coverage.campaign.sponsor_name }}" />
          </figure>
        {% endif %}
      {% else %}
        <span class="sponsor-name">Presented by {{ special_coverage.campaign.sponsor_name }}</span>
      {% endif %}
    </div>
  </div>
</div>

<ul class="sc-grid two-up">
  {% for content in content_list  %}
    <li class="sc-item {% if forloop.counter|divisibleby:"5" %}large{% endif %}">
      <a href="{{ content.get_absolute_url }}">
        <figure class="thumb">
          {% cropped content.thumbnail %}
        </figure>
        <div class="meta">
          <span class="feature-type">{{ content.feature_type }}</span>
          <h2>{{ content.title }}</h2>
          <span class="pub">Posted {{ content.published|naturalday|capfirst }}</span>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>