 <!DOCTYPE html>
<html>
    <head>
        {% block meta_tags %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{% block meta_description%}{% endblock meta_description %}">
        <meta name="keywords" content="{% block meta_keywords%}{% endblock meta_keywords %}">
        <meta name="viewport" content="width=device-width">
        {% endblock %}
        
        <title>{% block site_title %} - The A.V. Club{% endblock site_title %}</title>

        {% block site_stylesheets %}
        <link rel="stylesheet" href="{{ STATIC_URL }}bart/css/vendor/normalize.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}bart/css/base.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}bart/css/main.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        {% block extra_css %}{% endblock extra_css %}
        {% endblock site_stylesheets %}

        <script src="{{ STATIC_URL }}images/js/image.js"></script>
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body class="{% block bodyclass %}{% endblock bodyclass %}">

        <div class="advertisement" style="margin: 0 auto; text-align: center;">
            <img src="http://www.placehold.it/728x90" />
        </div>

        <div class="header-container scrolled-up">
            {% block page_header %}
            {% include "bart/elements/global/header/default.html" %}
            {% endblock page_header %}
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix" id="main" role="main">
                {% block content %}{% endblock content %}
            </div>
        </div>

        <div class="footer-container">
            {% block page_footer %}
            {% include "bart/elements/global/footer/default.html" %}
            {% endblock page_footer %}
        </div>

        {% block site_javascript %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!--[if lt IE 9]>
            <script src="{{ STATIC_URL }}bart/js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->

        <script>
        window.jQuery || document.write('<script src="{{ STATIC_URL }}bart/js/vendor/jquery-1.9.1.min.js"><\/script>')
        </script>
        <script>var STATIC_URL = "{{ STATIC_URL }}";</script>
        <script src="{{ STATIC_URL }}bart/js/main.js"></script>

        {% comment %}
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        {% endcomment %}

        {% block extra_js %}{% endblock extra_js %}
        {% endblock site_javascript %}
    
    </body>
</html>