{% extends "bart/__base.html" %}

{% block site_title %}Home {{ block.super }}{% endblock site_title %}

{% block content %}

<section id="masthead">

	{# Single article #}
	{% with article_list|slice:":1" as articles %}
	{% for article in articles %}
	{{ article }}
	{% endfor %}
	{% endwith %}

	<aside class="sidebar">
		<section>
			<h1>Sidebar Section Header</h1>
			<div class="inner">
				
			</div>
		</section>
	</aside>
</section>

<section class="article-list">
	{# Many articles #}
	{% with article_list|slice:"1:" as articles %}
	{% for article in articles %}
	{{ article }}
	{% endfor %}
	{% endwith %}
</section>

{% endblock content %}