{% extends "bart/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<section id="masthead">

	{# Single article #}
	{% with article_list|slice:":1" as articles %}
	{% for article in articles %}
	{% include "bart/elements/snippets/article-summary.html" %}
	{% endfor %}
	{% endwith %}

	<aside class="sidebar">
		<section>
			<h1>Sidebar Section Header</h1>
			<div class="inner">
				{% include "bart/elements/snippets/article-summary.html" %}
			</div>
		</section>
	</aside>
</section>

<section class="article-list">
	{# Many articles #}
	{% with article_list|slice:"1:" as articles %}
	{% for article in articles %}
	{% include "bart/elements/snippets/article-summary.html" %}
	{% endfor %}
	{% endwith %}
</section>

{% endblock content %}