{% extends "base/base.html" %}
{% block title %}Content{% endblock title %}
{% block content %}
        <style type="text/css">
            body {
                padding: 0;
                margin: 0;
            }
            #filter {
                height: 60px;
                background-color: gray;
            }
        </style>
    </head>
    <body>
        <div id="filter">
            <form>
                <input type="text" name="query" />
                <input type="submit" />
            </form>
        </div>
        <div id="content">
            <ul>
                {% for content in object_list %}
                <li>{{ content.title }}</li>
                {% endfor %}
            </ul>
        </div>
{% endblock content %}