<nav class="pagination pagination-small pagination-centered">
    <ul> 
        {% if page_obj.has_previous %}
        <li class="previous">
            <a href="?page={{ page_obj.previous_page_number }}"><i class="icon icon-chevron-left"></i>Prev</a>
        </li>
        {% endif %}

        {% if page_obj.start_index %}
        <li><a href="">1</a></li>
        {% endif %}

        {% for number in page_obj.page_numbers %}
        {% if number == page_obj.number %}
            <li class="active">{{ page_obj.number }}</li>
        {% else %}
            <li><a href="?page={{ number }}">{{ number }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.end_index %}
        <li><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="next">
            <a href="?page={{ page_obj.next_page_number }}">Next <i class="icon icon-chevron-right"></i></a>
        </li>
        {% endif %}
    </ul>
</nav>