@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic|Droid+Serif:400,700italic,700,400italic);
/* ==========================================================================
   
	BART BASE THEME

	Copyright 2013 Onion Tech
	Contact: scook@theonion.com

   ========================================================================== */
/* ==========================================================================
   
	BART MIXINS

	Copyright 2013 Onion Tech
	Contact: scook@theonion.com

   ========================================================================== */
/* ==========================================================================
   Clearfix
   ========================================================================== */
/* ==========================================================================
   Reusables
   ========================================================================== */
/* ==========================================================================
   Responsive fonts
   ========================================================================== */
/* ==========================================================================
   
	BART SITE-SPECIFIC THEME

	Copyright 2013 Onion Tech
	Contact: scook@theonion.com

   ========================================================================== */
/* ==========================================================================
   Site Variables
   ========================================================================== */
/* ==========================================================================
   Typefaces
   ========================================================================== */
/* ==========================================================================
   Breakpoints
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ==========================================================================
   Basix
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #333333;
}
html {
  font-size: 100.01%;
}
body {
  font-family: Georgia, serif;
  font-weight: normal;
  background: #f7f7f7;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f9f9f9), color-stop(1, #f7f7f7));
  background: -ms-linear-gradient(bottom, #f9f9f9, #f7f7f7);
  background: -moz-linear-gradient(center bottom, #f9f9f9 0%, #f7f7f7 100%);
  background: -o-linear-gradient(#f7f7f7, #f9f9f9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f9f9f9', GradientType=0);
  font-size: 0.875em;
  line-height: 1.857625em;
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
@media only screen and (min-width: 650px) and (max-width: 1439px), only screen and (min-width: 1140px) {
  body {
    font-family: 'Droid Serif', Georgia, serif;
  }
}
/* =====================================================r=====================
   Selections
   ========================================================================== */
::selection {
  background: #78aace;
  color: #ffffff;
}
::-moz-selection {
  background: #78aace;
  color: #ffffff;
}
img::selection,
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #78aace;
}
/* ==========================================================================
   Linx
   ========================================================================== */
a {
  color: #ea4b2b;
  text-decoration: none;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: #f39a88;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
}
/* ==========================================================================
   Figures
   ========================================================================== */
figure img,
div.image img {
  width: 100%;
  height: auto;
  display: block;
}
figcaption,
.caption {
  font-size: small;
  font-style: italic;
  color: #666666;
}
/* ==========================================================================
   Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0;
  color: #111111;
}
@media only screen and (min-width: 650px) and (max-width: 1439px), only screen and (min-width: 1140px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    /* normal */
  }
}
@media only screen and (min-width: 650px) and (max-width: 1439px), only screen and (min-width: 1140px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
}
h1 {
  font-size: 3em;
  line-height: 1;
  padding-top: 0.53em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  padding-top: 0.25em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  padding-top: 0.35em;
  margin-bottom: 0.65em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  padding-top: 0.45em;
  margin-bottom: 0.8em;
}
h5 {
  font-size: 1em;
  padding-top: 0.6em;
  margin-bottom: 0.9em;
}
h6 {
  font-size: 1em;
  margin-bottom: 0;
}
/* ==========================================================================
   Some element resets
   ========================================================================== */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
ul,
ol {
  margin: 0 0 10px 25px;
  padding: 0;
}
ul ol,
ol ol,
ul ul,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
ul.unstyled,
ol.unstyled {
  list-style: none;
  margin-left: 0;
}
ul.inline,
ol.inline {
  list-style: none;
  margin-left: 0;
}
ul.inline li,
ol.inline li {
  *display: inline;
  *zoom: 1;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
/* ==========================================================================
   Page Structure
   ========================================================================== */
.wrapper {
  width: 100%;
  margin: 0 auto;
  position: inherit;
}
@media only screen and (min-width: 1000px) and (max-width: 1139px) {
  .wrapper {
    width: 980px;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1160px;
  }
}
.header-container,
.main-container,
.footer-container {
  *zoom: 1;
  display: block;
}
.header-container:before,
.main-container:before,
.footer-container:before,
.header-container:after,
.main-container:after,
.footer-container:after {
  content: "";
  display: table;
}
.header-container:after,
.main-container:after,
.footer-container:after {
  clear: both;
}
/* ==========================================================================
   Header
   ========================================================================== */
header#primary nav ul {
  margin: 0;
  padding: 0;
}
header#primary nav a:hover {
  text-decoration: underline;
}
.header-container {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #FFF;
  position: fixed;
  width: 100%;
  z-index: 1000;
  /** Begin transition block **/
  /** End transition block **/

}
.header-container,
.header-container header#primary {
  height: 30px;
  -webkit-transition: height 0.1s;
  -moz-transition: height 0.1s;
  -ms-transition: height 0.1s;
  -o-transition: height 0.1s;
}
.header-container header#primary .cell,
.header-container .site-nav a,
.header-container .search i {
  line-height: 30px;
  -webkit-transition: line-height 0.1s;
  -moz-transition: line-height 0.1s;
  -ms-transition: line-height 0.1s;
  -o-transition: line-height 0.1s;
}
.header-container .site-nav a,
.header-container .search i {
  font-size: 16px;
  -webkit-transition: font-size 0.1s;
  -moz-transition: font-size 0.1s;
  -ms-transition: font-size 0.1s;
  -o-transition: font-size 0.1s;
}
.header-container header#primary {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  right: 0;
  left: 0;
  top: 0;
}
@media only screen and (min-width: 650px) and (max-width: 1439px), only screen and (min-width: 1140px) {
  .header-container header#primary {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
}
.header-container header#primary .cell {
  float: left;
  display: inline-block;
  height: 100%;
}
header#primary a,
header#primary i {
  color: #111111;
}
header#primary .site-nav > a {
  display: block;
  padding: 0 5px;
  text-decoration: none;
}
header#primary .count {
  color: #ea4b2b;
}
header#primary .discussions {
  font-style: italic;
  font-family: Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 650px) and (max-width: 1439px), only screen and (min-width: 1140px) {
  header#primary .discussions {
    font-style: italic;
    /* normal */
  }
}
@media only screen and (min-width: 650px) and (max-width: 1439px), only screen and (min-width: 1140px) {
  header#primary .discussions {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
}
header#primary .discussions a {
  margin-left: 5px;
}
header#primary .cell {
  padding: 0 15px;
  border-right: 1px solid #dedede;
}
header#primary .user a {
  text-transform: uppercase;
}
header#primary h1.title {
  height: 30px;
  margin: 0;
  padding: 0;
}
header#primary h1.title a {
  margin-top: 5px;
  background: url(../img/avclub-logo-sm.png) no-repeat;
  width: 100px;
  height: 100%;
  display: block;
}
header#primary h1.title a img {
  display: none;
}
.header-container.scrolled-up {
  /** Begin transition block **/
  /** End transition block **/

}
.header-container.scrolled-up,
.header-container.scrolled-up header#primary {
  height: 60px;
  -webkit-transition: height 0.1s;
  -moz-transition: height 0.1s;
  -ms-transition: height 0.1s;
  -o-transition: height 0.1s;
}
.header-container.scrolled-up header#primary .cell,
.header-container.scrolled-up .site-nav a,
.header-container.scrolled-up .search i {
  line-height: 60px;
  -webkit-transition: line-height 0.1s;
  -moz-transition: line-height 0.1s;
  -ms-transition: line-height 0.1s;
  -o-transition: line-height 0.1s;
}
.header-container.scrolled-up .site-nav a,
.header-container.scrolled-up .search i {
  font-size: 28px;
  -webkit-transition: font-size 0.1s;
  -moz-transition: font-size 0.1s;
  -ms-transition: font-size 0.1s;
  -o-transition: font-size 0.1s;
}
.header-container.scrolled-up header#primary h1.title {
  padding-top: 0;
  margin-top: -20px;
}
.header-container.scrolled-up header#primary h1.title a {
  background: none;
}
.header-container.scrolled-up header#primary h1.title a img {
  display: block;
}
/* ==========================================================================
   Page body
   ========================================================================== */
.main-container {
  padding-top: 60px;
}
.main-container > .main {
  padding: 30px 0;
}
/* ==========================================================================
   Basic footer (to be moved/updated when footer design finished)
   ========================================================================== */
.footer-container {
  background: #f9f9f9;
  color: #bcbcbc;
  margin: 0;
  padding: 2em 0;
  position: relative;
}
.footer-container .colophon {
  text-align: center;
}
/* ==========================================================================
   Responsive
   ========================================================================== */
@media only screen and (min-width: 480px) {
  header#primary nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }
  header#primary nav li:first-child a {
    margin-left: 0;
  }
  header#primary nav li:last-child a {
    margin-right: 0;
  }
  header#primary nav ul li {
    display: inline;
  }
}
@media only screen and (min-width: 768px) {
  header#primary .title {
    float: left;
  }
  header#primary nav {
    float: right;
    width: 38%;
  }
  .main article {
    float: left;
    width: 57%;
  }
  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 960px;
    /* 1026px; /* 1140px - 10% for margins */
  
    margin: 0 auto;
  }
}
/* ==========================================================================
   Helpers
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
/* ==========================================================================
   Image ratios
   ========================================================================== */
div[data-picture] {
  overflow: hidden;
  width: auto;
  max-width: 100%;
}
div[data-picture] img {
  display: block;
  width: 100%;
}
div[data-picture] > div {
  position: relative;
  padding-bottom: 56.25%;
  /* default is 16x9 */

  height: 0;
  overflow: hidden;
}
div[data-picture] img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
div[data-picture].one-by-one > div {
  padding-bottom: 100%;
}
div[data-picture].four-by-three > div {
  padding-bottom: 75%;
}
div[data-picture].sixteen-by-nine > div {
  padding-bottom: 56.25%;
}
div[data-picture].three-by-four > div {
  padding-bottom: 133.33%;
}
