///                                   ///
///     Special Coverage Landing      ///
///                                   ///

@import "flexbox";
@import "figures";
@import "breakpoints";



.sc-hero {
  @include flexbox;
  @include flex-direction(column);
  background: rgb(33, 33, 33);
  color: white;
  margin: auto;
  margin-bottom: 3em;
  max-width: 1425px;
  position: relative;
  width: 100%;
  .hero-img {
    width: 100%;
    .image { 
      @include crop-16x9; 
    }
  }
  .sc-label {
    background: rgba(33, 33, 33, .8);
    color: white;
    display: none;
    font-size: 1.15em;
    left: 0;
    padding: 10px 30px;
    position: absolute;
    text-transform: uppercase;
    top: 60px;
  }
  .billboard {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    padding: 1em;
    text-align: center;
  }
  .sponsor {
    @include flexbox;
    text-transform: uppercase;
    figure {
      margin: auto;
      max-width: 100px;
      padding-top: 20px;
      width: 100%;
      img {
        display: block;
        position: relative;
        width: 100%;
      }
    }
  }
  &.full-bleed {
    .billboard {
      width: 100%;
    }
  }
}

.sc-grid {
  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(space-between);
  margin: 3em auto;
  max-width: 970px;
  padding: 0;
  width: 95%;
  &.two-up {
    .sc-item {
      width: 100%;
    }
    .sc-item.large {
      width: 100%;
    }
  }
  .dfp {
    -webkit-transition: width 0.5s, height 0.5s, transform 0.5s;
    -moz-transition: width 0.5s, height 0.5s, transform 0.5s;
    -ms-transition: width 0.5s, height 0.5s, transform 0.5s;
    -o-transition: width 0.5s, height 0.5s, transform 0.5s;
    margin: auto;
    padding-bottom: 3em;
    display: table;
    position: relative;
    z-index: 1;    
  }
}

.sc-item {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  background: #eaeaea;
  margin-bottom: 3em;
  text-align: center;
  .thumb {
    width: 100%;
    .image { 
      @include crop-16x9;
    }
  }
  .meta {
    padding: 10%;
    h2 {
      font-size: 1.3em;
    }
    .feature-type {
      color: black;
      text-transform: uppercase;
    }
    .pub {
      color: rgb(122, 135, 129);
      font-size: .75em;
    }
  }
  a {
    color: black;
    width: 100%;
    &:hover {
      color: black;
    }
  }
  &.large {
    @include flex-direction(row);
    background: transparent;
    position: relative;
    a {
      @include flexbox;
      @include flex-direction(column);
    }
    .thumb {
      width: 100%;
    }
    .meta {
      @include flexbox;
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      background: #eaeaea;
      color: black;
      position: relative;
      width: 100%;
    }
  }
}


@media all and (min-width: $screen-md) {
  .sc-grid {
    &.two-up {
      .sc-item {
        width: 48%;
      }
      .sc-item.large {
        width: 100%;
      }
    }
  }
  .sc-item {
    &.large {
      @include flex-direction(row);
      background: transparent;
      position: relative;
      a {
        @include flexbox;
      }
      .thumb {
        width: 70%;
      }
      .meta {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        background: rgba(0,0,0,.8);
        bottom: 15%;
        color: white;
        max-width: 400px;
        padding: 5%;
        position: absolute;
        right: 0;
        top: 15%;
      }
    }
  }
  .sc-hero {
    .sc-label {
      display: inline-block;
    }
  }
}

@media all and (min-width: $screen-xlg) {
  .sc-hero {
    @include flex-direction(row);
    .hero-img {
      width: 65%;
    }
    .billboard {
      padding: 1.5em;
      width: 35%;
    }
  }
}