{% load betty core ads %}

<header class="series-summary">
  <div class="series-logo">
    <div class="series-image"></div>
  </div>
  <ul class="series-meta">
    <li><h1 class="series-title"></h1></li>
    <li class="series-episodes"></li>
    <li><p class="series-description"></p></li>
  </ul>
</header>

<section class="latest-episode">
 <p>Watch The Latest Episode</p>
</section>

<figure class="video-container">
  <div class="content">
    <bulbs-video
      twitter-handle="{{ twitter_handle }}"
      data-videohub-base="{{ VIDEOHUB_BASE_URL }}"
    >
    </bulbs-video>
  </div>
</figure>

{% if channel.slug == 'the-av-club' %}
  <div id="latest-video-title"></div>
{% else %}
  <div class="latest-episode-data">
    <div class="series-title"></div>
    <hr>
    <div id="latest-video-title"></div>
    <div id="latest-video-description"></div>
    <!-- TODO update data tracking!!!! -->
    <share-tools
        class="circle-transparent latest-video-share-tools"
        share-url={{ external_url }}
        share-track-action="I need to be changed!!!!!!">
      <share-via-facebook icon ></share-via-facebook>
      <share-via-twitter icon twitter-handle={{twitter_handle}}></share-via-twitter>
      <share-via-email icon message={{share_message}}></share-via-email>
    <share-tools>
  </div>
  <div class="video-series-ad">
    <div class="ad-alert">Advertisement</div>
    {% dfp_ad "mobile-only-cube" %}
  </div>
{% endif %}

<section class="video-grid">
  <header>
    <h2>Episodes</h2>
    {% if channel.slug != 'the-av-club' %}
    <div class="pagination-toggle">
        <video-series-previous><i class="fa fa-angle-left"></i></video-series-previous>
        <video-series-next><i class="fa fa-angle-right"></i></video-series-next>
        </div>
    {% endif %}
  </header>
  <div class="video-list"
       id="series-video-list"
       data-betty-url="{{ BETTY_ONION_STUDIOS_IMAGE_URL }}"
       data-videohub-base="{{ VIDEOHUB_BASE_URL }}"
       data-series-slug="{{ series_slug }}">
  </div>
</section>
