{% load betty core %}

<header>
  <h1 id="series-title"></h1>
  <p>Watch The Latest Episode</p>
</header>

<figure class="video-container">
  <div class="content">
    <bulbs-video
      twitter-handle="avclub"
      src="{{ VIDEOHUB_BASE_URL }}/video/"
    >
    </bulbs-video>
  </div>
</figure>

<p id="series-description"></p>

<section class="video-grid">
  <div class="video-list" 
       id="series-video-list"
       data-betty-url="{{ BETTY_ONION_STUDIOS_IMAGE_URL }}"
       data-videohub-base="{{ VIDEOHUB_BASE_URL }}" 
       data-series-slug="{{ series_slug }}">
  </div>
</section>