///////////////////////////////
// ************************* //
//         VIDEO GRID        //
// ************************* //
///////////////////////////////

@import '../mixins/flexbox';
@import '../mixins/flex-grid';
@import '../mixins/aspect-ratio';
@import '../mixins/ease';
@import '../global/breakpoints';
@import '../extends/vertical-center-flex';

body {
  background: red!important;
}

.video-grid {
  .video-list {
    @include _fg(2, 24, 0);
    list-style: none;    
  }
  .video-item {
    @include aspect-ratio(16, 9);
    margin-bottom: 24px;
    position: relative;
    .image:after {
      @include ease(opacity, 50ms);
      @extend .vertical-center-flex;
      bottom: 0;
      color: white;
      content: '\f01d';
      cursor: pointer;
      font-family: FontAwesome;
      font-size: 3em;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    &:hover {
      .image:after {
        opacity: .8;
      }
    }
  }
}

@media (min-width: $screen-md) {
  .video-grid {
    .video-list {
      @include _fg(4, 24, 0);
      list-style: none;    
    }
  }
}