////////////////////////////////
// ************************** //
//     Multi Line Truncate    //
// ************************** //
////////////////////////////////

@mixin multiLineTruncate($lineHeight: 1.2em, $lineCount: 3){
  line-height: $lineHeight;
  height: $lineHeight * $lineCount;
  overflow: hidden;
  position: relative;
}