/* ==========================================================================
   
	ARTICLE THEME

	Copyright 2013 Onion Tech
	Contact: scook@theonion.com

   ========================================================================== */

@import url('../less/mixins.less');
@import url('../less/theme.less');


/* ==========================================================================
   Article page-specific styles
   ========================================================================== */

.article-width { 
	margin-right: auto;
	margin-left: auto; }

.article-header { 
	.clearfix();
	text-align: center; }

.headline a { .heading-link(); }

.article-body { position: relative; }

.article-meta { 
	margin: 0 auto 1em;
	text-align: center; 
	.sans-serif-bold();

	a { .sans-serif(); }

	.authors, .pub { 
		display: inline-block; 

		a { color: @grey-dark; } } 

	.authors + .pub:before { 
		content: "•";
		padding: 0 10px 0 5px; }

	.community {
		position: absolute;
		font-size: @smalltext;
		text-align: left;
		text-transform: uppercase; 
		clear: both;
		margin: 1em 0 2em 20px;
		top: 30px;
		left: 0;
		width: 70px;

		a { 
			.sans-serif-bold-italic();  

			.rounded(3px);
			text-align: center;
			border: 1px solid @grey-light;
			padding: 5px 10px;
			display: block;
			width: 100%; }

		i, a { color: @heading-color; }

		li { 
			margin-bottom: 10px;
			display: block; 
			width: 100%;

			&:first-child { margin-left: 0; } 

			&:last-child { margin-bottom: 0; } } } }

.article-tags { 
	
	h3 {
		color: @slate-light;
		border-color: @slate-light;
		border-width: 1px 0;
		border-style: solid;
		font-size: inherit;
		padding: 15px 0;
		text-transform: uppercase;
		text-align: center;
	}

	a { 
		.rounded(3px);
		.sans-serif-bold();
		color: @heading-color;
		display: block;
		border: 1px solid @grey-light; 
		padding: 5px 7px;
		text-align: center;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap; }

	li { 
		margin-bottom: 10px; 

		&:last-child { margin-bottom: 0; } } }

.type-badge {
	.sans-serif-bold();
	height: 0;
	margin-bottom: 10px;
	position: relative;

	.article-type { 

		background: @slate-regular;
		color: #fff;
		position: relative;
		top: -10px;
		padding: 5px 15px; } }

.article-text {

	line-height: (@baseline * 2.449em); // 30px
	margin-bottom: 2em; 

	a { 
		.serif-bold();
		color: @heading-color;

		&:hover { color: lighten(@heading-color, 20%); } }

	.right-outdent { margin: 0 auto; } }

.article-footer > section { margin: .5em 0 1em; .clearfix(); }

.article-pagination {

	ul { .clearfix(); }

	li { 
		width: 49%; 
		display: inline-block; 
		float: left; 
		font-size: @smalltext;

		i { 
			height: 50px;
			color: @grey-light;
			font-size: 50px;
			margin-top: -15px;
			position: absolute; 
			top: 50%;
			text-decoration: none; }

		a { 
			display: block;
			.sans-serif-italic();
			color: @heading-color; 
			position: relative; }

		span { 
			text-transform: uppercase;
			font-style: normal;
			.sans-serif-bold(); }

		&.previous { 

			i { 
				left: -40px; 
				.transition(left .2s); } 

			a:hover i { 
				left: -50px;
				.transition(left .2s); } }

		&.next {
			text-align: right; 
			margin-left: 2%; 

			i { 
				right: -40px; 
				.transition(right .2s); }

			a:hover i { 
				right: -50px;
				.transition(right .2s); } } } }				

.article-footer {

	.share-tools {

		text-align: center; 

		ul { display: table; width: 100%;}

		li { display: table-cell; }
		
		a { 
			.heading-link();
			border-radius: 50%;
			border: 5px solid @heading-color;
		    display: block;
			font-size: @lg-headline;
		    height: 70px;
		    line-height: 1.25em;
		    margin: 0 auto;
		    padding: 5px;
		    text-decoration: none;
		    width: 70px; } }

	.supplemental {

		.headline { margin-bottom: 0; }

		.article-meta { text-align: left; } } }

.supplemental {

	.headline { font-size: 18px; }

	.article-meta { margin-bottom: 10px; }

	&.suggested-read .featured {

		.headline { font-size: 25px; }

		figure { 
			float: left;
			width: 25%;

			+ header .headline { padding-top: 0; }

			~ div, ~ header { margin-left: (25% + 5px); } } 
		
		~ article {
			width: 50%; 
			float: left; }  

		+ article { 
			padding-right: 13px;
			border-right: 1px solid @grey-light !important; 

			+ article { padding-left: 13px; } } } }

/* ==========================================================================
   Responsive
   ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {

	.main article {
		width: 100%;

		.article-width { width: 620px; }

		.article-header h1 { 
			margin-left: -40px; 
			margin-right: -40px; } } }

@media @desktop {

	#article-tags {
		width: 130px; 
		left: 0;
		margin-left: 20px;
		position: absolute;

		a { 
			.sans-serif-bold(); 
			text-transform: uppercase; 
			font-size: @smalltext; } }

	.article-text {

		.right-outdent {
			float: right; 
			margin-right: -170px; 
			padding-left: 20px;
			padding-bottom: 10px; }

		.left-outdent {
			float: left; 
			margin-left: -180px;
			padding-right: 20px;
			padding-bottom: 10px; } } }





/* ==========================================================================
   Type-specific article classes
   ========================================================================== */

article.type-longform {
	// Not using this yet.

}

article.type-coverstory {
	// The kind with the big ass image.
}

.type-coverstory-image + .main-container {
    padding-top: 0;
    position: relative; }

.type-coverstory-image + .main-container .main { padding: 0 }


article.type-default {
	// Probably gonna be the most common template.

	/*
	header#primary .discussions {
	    margin-right: 0;
	    padding-right: 255px; }

	.main article .article-header h1 {
	    font-size: 32px;
	    margin-bottom: 10px;
	    margin-left: 0;
	    margin-right: -80px;
	    padding-top: 0;
	    text-align: left; }

	.main article .article-meta {
	    text-align: left }

	.main article .article-meta .community {
	    margin-top: 10px;
	    top: 0; }

	.main article .article-meta .community {
	    left: auto;
	    right: 0; }

	.main article #article-tags {
	    display: block;
	    left: 0;
	    margin-left: 0;
	    overflow: hidden;
	    position: inherit;
	    top: 0;
	    width: 100%; }

	.main article #article-tags .tags {
	    border-right: 1px solid #ddd;
	    margin-right: 5px;
	    padding-right: 5px; }

	.main article #article-tags ul {
	    float: left }

	.main article .article-text {
	    position: relative }

	.main article .article-width {
	    margin-left: 0 }

	.type-badge {
	    margin-bottom: 30px;
	    text-align: center;
	    top: -10px; }

	.type-badge .article-type {
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    font-family: Helvetica,Arial,sans-serif;
	    font-size: 16px;
	    font-weight: bold;
	    margin-left: auto;
	    margin-right: auto; }

	blockquote {
	    border-left: 3px solid #EA4B2B;
	    font-style: italic;
	    margin: 2em -200px 2em 0;
	    padding-left: 20px; }

	.article-text .right-outdent {
	    margin-right: -340px }

	.main article footer.article-width {
	    margin-left: auto;
	    margin-right: auto; }

	.main article footer.article-width .article-pagination {
	    margin-top: 2em }

	.main article footer.article-width .supplemental {
	    margin-bottom: 2em }

	.header-container {
	    position: absolute }
	*/

}

article.type-shortform {
	// Shorty shorts.

}