/* ==========================================================================
   
	BART BASE THEME

	Copyright 2013 Onion Tech
	Contact: scook@theonion.com

   ========================================================================== */

@import url('../less/mixins.less');
@import url('../less/theme.less');

*{ 
   -webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box; 
   box-sizing: border-box; }


/* ==========================================================================
   Basix
   ========================================================================== */

html, button, input, select, textarea { color: @body-color; }

html { font-size: 100.01%; }

body {
	.serif();
	.gradient(@body-bg, #F9F9F9, @body-bg);
	font-size: @baseline; // 14px
	line-height: (@baseline * 2.123); // 26px
	text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; }


/* =====================================================r=====================
   Selections
   ========================================================================== */

::selection{
	background: @select;
	color: @select-color; }

::-moz-selection{
	background: @select;
	color: @select-color; }

img::selection, img::-moz-selection{ background: transparent; }

body{ -webkit-tap-highlight-color: @select; }


/* ==========================================================================
   Linx
   ========================================================================== */

a {
	color: @accent;
	text-decoration:none;
	.transition(color .1s);

	&:hover, &:focus{
		text-decoration:underline;
		color: lighten(@accent, 20%);
		.transition(color .1s); } }


/* ==========================================================================
   Figures
   ========================================================================== */

figure img, div.image img {
	width: 100%;
	height: auto;
	display:block; }

figcaption, .caption{
	font-size: small;
	font-style:italic;
	color: @grey-dark; }


/* ==========================================================================
   Headings
   ========================================================================== */

h1,h2,h3,h4,h5,h6 {
	.sans-serif-bold();
	margin-top:0;
	color: @heading-color; }

h1 {
	font-size: 3em;
	line-height: 1;
	padding-top: 0.53em;
	margin-bottom: 0.5em; }

h2 {
	font-size: 2em;
	padding-top: 0.25em;
	margin-bottom: 0.5em; }

h3 {
	font-size: 1.5em;
	line-height: 1;
	padding-top: 0.35em;
	margin-bottom: 0.65em; }

h4 {
	font-size: 1.2em;
	line-height: 1.25;
	padding-top: 0.45em;
	margin-bottom: 0.8em; }

h5 {
	font-size: 1em;
	padding-top: 0.6em;
	margin-bottom: 0.9em; }

h6 {
	font-size: 1em;
	margin-bottom: 0; }


/* ==========================================================================
   Some element resets
   ========================================================================== */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0; }

img { vertical-align: middle }

fieldset {
	border: 0;
	margin: 0;
	padding: 0; }

textarea { resize: vertical }

ul, ol { 
	margin: 0 0 10px 25px;
	padding: 0; 
	
	ol, ul { margin-bottom: 0 } }

li { line-height: 20px }

ul.unstyled, ol.unstyled { 
	list-style: none;
	margin-left: 0; }

ul.inline, ol.inline { 
	list-style: none;
	margin-left: 0; 

	li { 
		*display: inline;
		*zoom: 1;
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px; } }



/* ==========================================================================
   Page Structure
   ========================================================================== */

.wrapper {
	width: 100%;
	margin: 0 auto;
	position: inherit;

	@media @tablet-landscape { width: 980px }

	@media @desktop { width: 1160px } }

.header-container, 
.main-container, 
	.footer-container {
	.clearfix();
	display: block; }


/* ==========================================================================
   Header
   ========================================================================== */

header#primary .title { padding-top: 0; margin-top: -20px; }

header#primary nav {

	ul {
		margin: 0;
		padding: 0; }

	a {

		&:hover, &:visited { }

		&:hover { text-decoration: underline } } }

.header-container { 

	.drop-shadow(0, 0, 10px, .1); 
	background: #FFF; 
	position: fixed; 
	width: 100%; 
	z-index: 100;

	/** Begin transition block **/	
	&, header#primary { 
		height: @toolbar-sm; 
		.transition(height .1s); }

	header#primary .cell,.site-nav a, .search i { 
		line-height: @toolbar-sm; 
		.transition(line-height .1s); }

	.site-nav a, .search i { 
		font-size: 16px; 
		.transition(font-size .1s); }
	/** End transition block **/

	header#primary {
		.sans-serif();
		right: 0;
		left: 0; 

		.cell { 
			float: left;
			display: inline-block; 
			height: 100%; } } }

header#primary {

	a, i { color: @heading-color; }
	
	.site-nav > a { 
		display: block;
		padding: 0 5px;
		text-decoration: none }
	
	.count { color: @accent; }

	.discussions { 
		.sans-serif-italic();
		a { margin-left: 5px; } }

	.cell { 
		padding: 0 15px; 
		border-right: 1px solid @grey-light; } 

	.user a { text-transform: uppercase; } }

.header-container.scrolled-up {
	
	/** Begin transition block **/	
	&, header#primary { 
		height: @toolbar-lg; 
		.transition(height .1s); }

	header#primary .cell, .site-nav a, .search i { 
		line-height: @toolbar-lg; 
		.transition(line-height .1s); }
		
	.site-nav a, .search i { 
		font-size: 28px; 
		.transition(font-size .1s); }
	/** End transition block **/	
}

/* ==========================================================================
   Page body
   ========================================================================== */

.main-container {
	padding-top: @toolbar-lg; 

	> .main { padding: 30px 0; } }


/* ==========================================================================
   Basic footer (to be moved/updated when footer design finished)
   ========================================================================== */

.footer-container {
	color: @grey-regular;
	margin: 2em 0; 
	.colophon { text-align: center; } }

/* ==========================================================================
   Responsive
   ========================================================================== */

@media only screen and (min-width: 480px) {

	header#primary nav {
		a {
			float: left;
			width: 27%;
			margin: 0 1.7%;
			padding: 25px 2%;
			margin-bottom: 0; }

		li:first-child a { margin-left: 0; }

		li:last-child a { margin-right: 0; }
		
		ul li { display: inline; } } } // An IE fix

@media only screen and (min-width: 768px) {

	header#primary {

		.title { float: left; }

		nav {
			float: right;
			width: 38%; } }

	.main {
		article {
			float: left;
			width: 57%; }

		aside {
			float: right;
			width: 28%; } } }

@media @desktop {

	.wrapper {
		width: 960px; /* 1026px; /* 1140px - 10% for margins */
		margin: 0 auto; } }


/* ==========================================================================
   Helpers
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px; }

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%; }

.hidden {
	display: none !important;
	visibility: hidden; }

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto; }

.invisible { visibility: hidden; }

/* ==========================================================================
   Image ratios
   ========================================================================== */

div[data-picture] {
	overflow: hidden;
	width: auto;
	max-width: 100%;

	img {
		display:block;
		width: 100%; } 

	&>div {
		position: relative;
		padding-bottom: 56.25%; /* default is 16x9 */
		height: 0;
		overflow: hidden; } 
	
	img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%; } 

	&.one-by-one > div { padding-bottom: 100%; } 
	&.four-by-three > div { padding-bottom: 75%; }
	&.sixteen-by-nine > div { padding-bottom: 56.25%; }
	&.three-by-four > div { padding-bottom: 133.33%; } }