/* ==========================================================================
   
	MAIN STYLES

	Copyright 2013 Onion Tech
	Contact: scook@theonion.com

   ========================================================================== */

@import url('../less/mixins.less');
@import url('../less/theme.less');

.section-title { 
	display: table;
    float: none;
    margin: 0 auto 10px;
    width: auto;
	font-size: @twelvepx;
	text-transform: uppercase; }

.video-embed {
	h2 { 
		text-transform: capitalize;
		border-bottom: 1px solid @grey-regular; } }