/* ==========================================================================
   
	MAIN STYLES

	Copyright 2013 Onion Tech
	Contact: scook@theonion.com

   ========================================================================== */

@import url('../less/mixins.less');
@import url('../less/theme.less');

.section-title { 
	display: table;
    float: none;
    margin: 0 auto 10px;
    width: auto;
	font-size: @smalltext;
	text-transform: uppercase; }

.video-embed {
	h2 { 
		text-transform: capitalize;
		border-bottom: 1px solid @grey-regular; } }

.lg-headline {	
	font-size: @lg-headline;
	line-height: 1.2em; }

.md-headline {	
	font-size: @md-headline;
	line-height: 1.25em; }

.read-more { .serif-bold-italic(); }

.tags > li, .tag {
	.rounded(3px);

	a { 
		border: 0;
		color: #fff; 
		.transition(background-color .1s);

		&:hover { .transition(background-color .1s); } }

	&.tv-club a { background-color: @tv-club;
		&:hover { background-color: lighten(@tv-club, 10%); } }

	&.books a { background-color: @books;
		&:hover { background-color: lighten(@books, 10%); } }
}