/* ==========================================================================
   
	BART SITE-SPECIFIC THEME

	Copyright 2013 Onion Tech
	Contact: scook@theonion.com

   ========================================================================== */

/* ==========================================================================
   Site Variables
   ========================================================================== */

@body-bg:		#f7f7f7;
@body-fade: 	#F9F9F9;
@body-color: 	#333;
@heading-color: #111;
@accent: 		#EA4B2B;
@select: 		#78aace;
@select-color: 	#fff;

@grey-light: 	#dedede;
@grey-regular: 	#bcbcbc;
@grey-dark: 	#666;

@slate-regular:	#849EBC;
@slate-light:	#96A3B2;

@baseline: 		0.875em; 				// 14px
@smalltext:		0.857em; 				// 12px
@lg-headline: 	2.857em; 				// 40px
@md-headline:	2.286em; 				// 32px

@toolbar-lg:	60px;
@toolbar-sm:	(@toolbar-lg / 2);

// Colors for feature types
@tv-club: 		#F28D51;
@books:			#3FB8AE;

/* ==========================================================================
   Typefaces
   ========================================================================== */

// Remove this guy when we decide on a font:
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic|Droid+Serif:400,700italic,700,400italic);

@serif-default:			Georgia, serif;
@serif-custom:			'Droid Serif';
@sans-serif-default:	Helvetica, Arial, sans-serif;
@sans-serif-custom:		'Open Sans';

/* ==========================================================================
   Breakpoints
   ========================================================================== */

@mobile:				~"only screen and (max-width: 649px)";
	@mobile-portrait:   	~"only screen and (max-width: 479px)";
	@mobile-landscape:  	~"only screen and (min-width: 480px) and (max-width: 649px)";

@tablet:				~"only screen and (min-width: 650px) and (max-width: 1439px)";
	@tablet-portrait:   	~"only screen and (min-width: 650px) and (max-width: 999px)";
	@tablet-landscape:  	~"only screen and (min-width: 1000px) and (max-width: 1139px)";

@desktop:           	~"only screen and (min-width: 1140px)";