<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block title %}Home{% endblock title %} | A.V. Club Management Console</title>
    <meta name="description" content="{% block metadescription%}You can manage content here.{% endblock %}">
    <meta name="keywords" content="{% block metakeywords%}{% endblock %}">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}cms/vendor/bootstrap/assets/css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}cms/css/style.css" />
	{% block extra_head %}{% endblock extra_head %}
</head>
<body>
	<section id="header">
		<header class="wrapper">
			<h1><a href="#">A.V. Club Management Console</a></h1>
		</header>
	</section>
	<section id="main">
		<div class="wrapper">{% block content %}{% endblock content %}</div>
	</section>
	<section id="footer">
		<footer class="wrapper">
			<small>&copy; Copyright 2013 A.V. Club. All Rights Reserved.</small>
		</footer>
	</section>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script>
	    window.jQuery || document.write('<script src="{{ STATIC_URL }}bart/js/vendor/jquery-1.9.1.min.js"><\/script>')
    </script>
    <script src="{{ STATIC_URL }}cms/vendor/bootstrap/assets/js/bootstrap.min.js"></script>

	<!--[if IE]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script src="{{ STATIC_URL }}cms/js/main.js"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>