<header id="primary" class="wrapper clearfix">
    {% block site_title %}<h1 class="title"><a href="/">
        <img src="{{ STATIC_URL }}bart/img/avclub-logo.png" title="A.V. Club" />
    </a></h1>{% endblock site_title %}
    {% block main_navigation %}
    <div class="site-nav cell">
        <a href="#"><i data-target="#main-nav" class="icon-reorder"></i></a>
        <nav class="hidden" id="main-nav">
            <ul>
                <li><a href="/detail">Detail</a></li>
                <li><a href="/section">Section</a></li>
                <li><a href="/listing">Listing</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="discussions cell">
        <i class="icon-comments"></i>
        <strong class="count">3,714</strong> Reasonable Discussions are Occuring 
        <a href="#"><i class="icon-chevron-down"></i></a>
    </div>
    
    <div class="social cell">
        <ul class="unstyled inline">
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
        </ul>
    </div>

    <div class="user cell"><a href="#">Login</a></div>

    <div class="search cell">
        <a href="#"><i class="icon-search"></i></a>
        <div class="hidden">Search input!</div>
    </div>

    
    {% endblock main_navigation %}
</header>