@import "../mixins/linear-gradient";

.dfp-slot-inread[data-ad-load-state="loaded"] {
  color: #7f7f7f;
  font-family: Helvetica Neue;
  font-size: 9px;
  margin-bottom: 4em;
  text-align: center;
  text-transform: uppercase;
}
