{% betty %}

<div
	class="bulbs-poll"
	is="bulbs-poll"
	sodahead-id="{{ poll.sodahead_id }}"
>

	<header class="bulbs-poll-cover">
		{% if poll.thumbnail %}
			{% cropped poll.thumbnail crop="16x9" %}
		{% endif %}

		<h1 class="bulbs-poll-title">
			{{ poll.question_text }}
		</h1>
	</header>

	<ul class="bulbs-poll-answers">
		{% for answer in poll.answers %}
			<li
		 		class="bulbs-poll-answer"
		 		is="bulbs-poll-answer"
				sodahead-id="{{ answer.soadhead_id }}"
			>
				{{ answer.answer_text }}
			</li>
		{% endfor %}
	</ul>

	<button
		class="bulbs-poll-vote"
		is="bulbs-poll-vote"
	>
		Vote
	</button>

</div>
